In [120]:
import pandas as pd

In [144]:
csv = r"C:\Users\Shanjeev\Downloads\excel.csv"

df  = pd.read_csv(csv)

In [145]:
df['new_start']  = pd.to_datetime(df['new_start'],format="%Y-%m-%d %H:%M:%S")

df['new_end']  = pd.to_datetime(df['new_end'],format="%Y-%m-%d %H:%M:%S")

In [146]:
%%time
for x in range(df.shape[0]-1):
    if (df.loc[x,'new_end'] >= df.loc[x+1,'new_start']) & (df.loc[x,'new_end'] <= df.loc[x+1,'new_end']) & (df.loc[x,'id']== df.loc[x+1,'id']):
        df.loc[x+1,'new_start'] = df.loc[x,'new_start']
        df.loc[x,'flag'] = True
    elif (df.loc[x,'new_end'] >= df.loc[x+1,'new_start']) & (df.loc[x,'new_end'] >= df.loc[x+1,'new_end']) & (df.loc[x,'id']== df.loc[x+1,'id']):
        df.loc[x+1,'new_start'] = df.loc[x,'new_start']
        df.loc[x+1,'new_end'] = df.loc[x,'new_end']
        df.loc[x,'flag'] = True

Wall time: 22.8 s

In [147]:
final_df = df[df['flag']!=True]

final_df.reset_index(inplace=True)

final_df = final_df.drop(columns = ['flag','index'])

In [149]:
final_df

       id           new_start             new_end  start  end
0     190 2018-09-27 03:05:10 2018-09-27 04:03:18    NaN  NaN
1     190 2018-09-27 04:03:20 2018-09-27 21:48:21    NaN  NaN
2     190 2018-09-27 21:48:24 2018-09-28 04:06:55    NaN  NaN
3     191 2018-09-27 03:07:59 2018-09-28 04:09:08    NaN  NaN
4      71 2018-09-27 03:02:21 2018-09-27 12:36:14    NaN  NaN
5      71 2018-09-27 12:36:20 2018-09-27 16:53:13    NaN  NaN
6      71 2018-09-27 16:53:16 2018-09-28 04:02:25    NaN  NaN
7     155 2018-09-27 03:03:58 2018-09-27 13:55:25    NaN  NaN
8     155 2018-09-27 13:55:40 2018-09-28 04:04:05    NaN  NaN
9      44 2018-09-27 03:08:12 2018-09-27 16:56:18    NaN  NaN
10     44 2018-09-27 16:56:28 2018-09-27 23:58:19    NaN  NaN
11     44 2018-09-27 23:58:28 2018-09-28 04:09:11    NaN  NaN
12    262 2018-09-27 03:04:58 2018-09-27 07:40:30    NaN  NaN
13    262 2018-09-27 07:40:35 2018-09-27 07:45:18    NaN  NaN
14    262 2018-09-27 07:45:23 2018-09-27 07:59:18    NaN  NaN
15    262 2018-09-27 07:59:23 2018-09-27 09:51:52    NaN  NaN
16    262 2018-09-27 09:52:02 2018-09-27 09:55:14    NaN  NaN
17    262 2018-09-27 09:56:25 2018-09-27 11:12:55    NaN  NaN
18    262 2018-09-27 11:13:04 2018-09-27 11:33:28    NaN  NaN
19    262 2018-09-27 11:33:38 2018-09-27 11:58:31    NaN  NaN
20    262 2018-09-27 11:58:40 2018-09-27 12:04:16    NaN  NaN
21    262 2018-09-27 12:04:21 2018-09-27 12:24:07    NaN  NaN
22    262 2018-09-27 12:24:54 2018-09-27 13:32:21    NaN  NaN
23    262 2018-09-27 13:32:26 2018-09-27 17:05:10    NaN  NaN
24    262 2018-09-27 17:05:19 2018-09-28 00:37:35    NaN  NaN
25    262 2018-09-28 00:37:44 2018-09-28 04:05:35    NaN  NaN
26     15 2018-09-27 03:02:24 2018-09-28 04:02:28    NaN  NaN
27     37 2018-09-27 03:02:20 2018-09-28 04:08:32    NaN  NaN
28     68 2018-09-27 03:02:06 2018-09-27 06:18:15    NaN  NaN
29     68 2018-09-27 06:18:24 2018-09-27 07:27:12    NaN  NaN
...   ...                 ...                 ...    ...  ...
1429  187 2018-09-27 19:21:10 2018-09-27 19:31:39    NaN  NaN
1430  187 2018-09-27 19:34:36 2018-09-27 19:38:08    NaN  NaN
1431  187 2018-09-27 19:39:00 2018-09-27 19:41:39    NaN  NaN
1432  187 2018-09-27 19:43:00 2018-09-27 19:47:00    NaN  NaN
1433  187 2018-09-27 19:47:39 2018-09-27 19:53:34    NaN  NaN
1434  187 2018-09-27 19:54:56 2018-09-27 20:35:00    NaN  NaN
1435  187 2018-09-27 20:35:53 2018-09-27 20:39:44    NaN  NaN
1436  187 2018-09-27 20:39:58 2018-09-27 21:07:44    NaN  NaN
1437  187 2018-09-27 21:07:58 2018-09-27 22:04:08    NaN  NaN
1438  187 2018-09-27 22:04:12 2018-09-27 22:42:22    NaN  NaN
1439  187 2018-09-27 22:43:10 2018-09-28 01:31:00    NaN  NaN
1440  187 2018-09-28 01:31:24 2018-09-28 04:03:53    NaN  NaN
1441  174 2018-09-27 03:04:12 2018-09-27 14:15:34    NaN  NaN
1442  174 2018-09-27 14:15:43 2018-09-28 00:36:02    NaN  NaN
1443  174 2018-09-28 00:36:07 2018-09-28 04:04:19    NaN  NaN
1444  146 2018-09-27 03:15:49 2018-09-27 05:41:15    NaN  NaN
1445  146 2018-09-27 05:51:06 2018-09-27 10:11:30    NaN  NaN
1446  146 2018-09-27 10:11:44 2018-09-27 13:00:42    NaN  NaN
1447  146 2018-09-27 13:00:56 2018-09-27 21:15:01    NaN  NaN
1448  146 2018-09-27 21:15:06 2018-09-28 04:02:42    NaN  NaN
1449  182 2018-09-27 03:03:18 2018-09-27 09:27:37    NaN  NaN
1450  182 2018-09-27 09:27:47 2018-09-28 04:03:13    NaN  NaN
1451  171 2018-09-27 03:08:11 2018-09-27 07:42:06    NaN  NaN
1452  171 2018-09-27 07:42:20 2018-09-27 10:15:13    NaN  NaN
1453  171 2018-09-27 10:15:18 2018-09-27 11:43:23    NaN  NaN
1454  171 2018-09-27 11:43:32 2018-09-27 16:39:13    NaN  NaN
1455  171 2018-09-27 17:14:40 2018-09-27 18:02:30    NaN  NaN
1456  171 2018-09-27 18:02:45 2018-09-27 19:33:09    NaN  NaN
1457  171 2018-09-27 19:33:13 2018-09-27 23:49:09    NaN  NaN
1458  171 2018-09-27 23:49:14 2018-09-28 04:09:14    NaN  NaN

[1459 rows x 5 columns]

In [116]:
df.start = df.new_start.shift(1)

df.end = df.new_end.shift(1)

df = df.assign(previous_id = df.id.shift(1))

In [117]:
def stabilzer(row):
    if (row['new_end'] >= row['start']) & (row['new_end'] <= row['end']) & (row['id'] == row['previous_id']):
        row['new_start'] = row['start']

In [118]:
df.apply(lambda x: stabilzer(x),axis=1)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
16002    None
16003    None
16004    None
16005    None
16006    None
16007    None
16008    None
16009    None
16010    None
16011    None
16012    None
16013    None
16014    None
16015    None
16016    None
16017    None
16018    None
16019    None
16020    None
16021    None
16022    None
16023    None
16024    None
16025    None
16026    None
16027    None
16028    None
16029    None
16030    None
16031    None
Length: 16032, dtype: object

In [119]:
df

,id,new_start,new_end,start,end,previous_id
0,190,2018-09-27 03:05:10,2018-09-27 04:03:15,NaT,NaT,NaN
1,190,2018-09-27 03:06:35,2018-09-27 04:03:18,2018-09-27 03:05:10,2018-09-27 04:03:15,190.0
2,190,2018-09-27 04:03:20,2018-09-27 04:05:34,2018-09-27 03:06:35,2018-09-27 04:03:18,190.0
3,190,2018-09-27 04:03:23,2018-09-27 04:06:54,2018-09-27 04:03:20,2018-09-27 04:05:34,190.0
4,190,2018-09-27 04:05:34,2018-09-27 05:05:49,2018-09-27 04:03:23,2018-09-27 04:06:54,190.0
5,190,2018-09-27 04:06:54,2018-09-27 05:06:59,2018-09-27 04:05:34,2018-09-27 05:05:49,190.0
6,190,2018-09-27 05:05:49,2018-09-27 06:05:44,2018-09-27 04:06:54,2018-09-27 05:06:59,190.0
7,190,2018-09-27 05:06:59,2018-09-27 06:06:54,2018-09-27 05:05:49,2018-09-27 06:05:44,190.0
8,190,2018-09-27 06:05:44,2018-09-27 07:04:37,2018-09-27 05:06:59,2018-09-27 06:06:54,190.0
9,190,2018-09-27 06:06:54,2018-09-27 07:05:37,2018-09-27 06:05:44,2018-09-27 07:04:37,190.0
10,190,2018-09-27 07:04:37,2018-09-27 08:04:42,2018-09-27 06:06:54,2018-09-27 07:05:37,190.0
11,190,2018-09-27 07:05:37,2018-09-27 08:05:52,2018-09-27 07:04:37,2018-09-27 08:04:42,190.0
12,190,2018-09-27 08:04:42,2018-09-27 09:05:01,2018-09-27 07:05:37,2018-09-27 08:05:52,190.0
13,190,2018-09-27 08:05:52,2018-09-27 09:05:57,2018-09-27 08:04:42,2018-09-27 09:05:01,190.0
14,190,2018-09-27 09:05:01,2018-09-27 10:05:06,2018-09-27 08:05:52,2018-09-27 09:05:57,190.0
15,190,2018-09-27 09:05:57,2018-09-27 09:14:16,2018-09-27 09:05:01,2018-09-27 10:05:06,190.0
16,190,2018-09-27 09:14:21,2018-09-27 10:06:06,2018-09-27 09:05:57,2018-09-27 09:14:16,190.0
17,190,2018-09-27 10:05:06,2018-09-27 11:05:54,2018-09-27 09:14:21,2018-09-27 10:06:06,190.0
18,190,2018-09-27 10:06:06,2018-09-27 10:52:21,2018-09-27 10:05:06,2018-09-27 11:05:54,190.0
19,190,2018-09-27 10:52:30,2018-09-27 11:07:04,2018-09-27 10:06:06,2018-09-27 10:52:21,190.0
20,190,2018-09-27 11:05:54,2018-09-27 11:59:59,2018-09-27 10:52:30,2018-09-27 11:07:04,190.0
21,190,2018-09-27 11:07:04,2018-09-27 11:17:24,2018-09-27 11:05:54,2018-09-27 11:59:59,190.0
22,190,2018-09-27 11:17:33,2018-09-27 12:00:02,2018-09-27 11:07:04,2018-09-27 11:17:24,190.0
23,190,2018-09-27 11:59:59,2018-09-27 12:51:16,2018-09-27 11:17:33,2018-09-27 12:00:02,190.0
24,190,2018-09-27 12:00:02,2018-09-27 12:10:26,2018-09-27 11:59:59,2018-09-27 12:51:16,190.0
25,190,2018-09-27 12:10:26,2018-09-27 13:07:04,2018-09-27 12:00:02,2018-09-27 12:10:26,190.0
26,190,2018-09-27 12:51:21,2018-09-27 13:05:50,2018-09-27 12:10:26,2018-09-27 13:07:04,190.0
27,190,2018-09-27 13:05:50,2018-09-27 14:05:50,2018-09-27 12:51:21,2018-09-27 13:05:50,190.0
28,190,2018-09-27 13:07:04,2018-09-27 13:28:16,2018-09-27 13:05:50,2018-09-27 14:05:50,190.0
29,190,2018-09-27 13:28:21,2018-09-27 14:07:14,2018-09-27 13:07:04,2018-09-27 13:28:16,190.0
...,...,...,...,...,...,...
16002,171,2018-09-27 06:07:51,2018-09-27 07:06:30,2018-09-27 05:08:15,2018-09-27 06:07:51,171.0
16003,171,2018-09-27 07:06:30,2018-09-27 07:42:06,2018-09-27 06:07:51,2018-09-27 07:06:30,171.0
16004,171,2018-09-27 07:42:20,2018-09-27 08:06:59,2018-09-27 07:06:30,2018-09-27 07:42:06,171.0
16005,171,2018-09-27 08:06:59,2018-09-27 09:07:04,2018-09-27 07:42:20,2018-09-27 08:06:59,171.0
16006,171,2018-09-27 09:07:04,2018-09-27 10:07:03,2018-09-27 08:06:59,2018-09-27 09:07:04,171.0
16007,171,2018-09-27 10:07:03,2018-09-27 10:15:13,2018-09-27 09:07:04,2018-09-27 10:07:03,171.0
16008,171,2018-09-27 10:15:18,2018-09-27 11:07:47,2018-09-27 10:07:03,2018-09-27 10:15:13,171.0
16009,171,2018-09-27 11:07:47,2018-09-27 11:43:23,2018-09-27 10:15:18,2018-09-27 11:07:47,171.0
16010,171,2018-09-27 11:43:32,2018-09-27 11:59:56,2018-09-27 11:07:47,2018-09-27 11:43:23,171.0
16011,171,2018-09-27 11:59:56,2018-09-27 12:12:11,2018-09-27 11:43:32,2018-09-27 11:59:56,171.0
16012,171,2018-09-27 12:12:11,2018-09-27 13:08:30,2018-09-27 11:59:56,2018-09-27 12:12:11,171.0
16013,171,2018-09-27 13:08:30,2018-09-27 14:08:49,2018-09-27 12:12:11,2018-09-27 13:08:30,171.0
16014,171,2018-09-27 14:08:49,2018-09-27 15:07:56,2018-09-27 13:08:30,2018-09-27 14:08:49,171.0
16015,171,2018-09-27 15:07:56,2018-09-27 16:07:42,2018-09-27 14:08:49,2018-09-27 15:07:56,171.0
16016,171,2018-09-27 16:07:42,2018-09-27 16:39:13,2018-09-27 15:07:56,2018-09-27 16:07:42,171.0
16017,171,2018-09-27 17:14:40,2018-09-27 18:02:30,2018-09-27 16:07:42,2018-09-27 16:39:13,171.0
16018,171,2018-09-27 18:02:45,2018-09-27 18:08:02,2018-09-27 17:14:40,2018-09-27 18:02:30,171.0
16019,171,2018-09-27 18:08:02,2018-09-27 19:07:57,2018-09-27 18:02:45,2018-09-27 18:08:02,171.0
16020,171,2018-09-27 19:07:57,2018-09-27 19:33:09,2018-09-27 18:08:02,2018-09-27 19:07:57,171.0
16021,171,2018-09-27 19:33:13,2018-09-27 20:06:40,2018-09-27 19:07:57,2018-09-27 19:33:09,171.0
16022,171,2018-09-27 20:06:40,2018-09-27 21:07:04,2018-09-27 19:33:13,2018-09-27 20:06:40,171.0
16023,171,2018-09-27 21:07:04,2018-09-27 22:06:40,2018-09-27 20:06:40,2018-09-27 21:07:04,171.0
16024,171,2018-09-27 22:06:40,2018-09-27 23:07:09,2018-09-27 21:07:04,2018-09-27 22:06:40,171.0
16025,171,2018-09-27 23:07:09,2018-09-27 23:49:09,2018-09-27 22:06:40,2018-09-27 23:07:09,171.0
16026,171,2018-09-27 23:49:14,2018-09-28 00:07:28,2018-09-27 23:07:09,2018-09-27 23:49:09,171.0
16027,171,2018-09-27 23:49:14,2018-09-28 00:07:28,2018-09-27 23:49:14,2018-09-28 00:07:28,171.0
16028,171,2018-09-28 00:07:28,2018-09-28 01:07:28,2018-09-27 23:49:14,2018-09-28 00:07:28,171.0
16029,171,2018-09-28 01:07:28,2018-09-28 02:10:11,2018-09-28 00:07:28,2018-09-28 01:07:28,171.0
16030,171,2018-09-28 02:10:11,2018-09-28 03:08:21,2018-09-28 01:07:28,2018-09-28 02:10:11,171.0
16031,171,2018-09-28 03:08:21,2018-09-28 04:09:14,2018-09-28 02:10:11,2018-09-28 03:08:21,171.0